<li>
  {{announcement.date}}: {{announcement.comment}}
  <button class="btn btn-danger"{{action 'delete' announcement}}>Delete Announcement</button>
</li>
<br>
<!-- <button class="btn btn-success"{{action 'add' announcement}}>Add Announcement</button> -->
